# This doesn't actually work on already committed files,  git update-index --assume-unchanged is set in Makefile instead
anonymize_custom.conf
solr-env.sh
spark-deps.zip
*.pyc
*.pyo
*.jyc
*.avro
*.parquet
*.log
*.swp
.idea/
.sonar/
.DS_Store
htmlcov/
tests/data/opentsdb_data.txt
tests/docker/registry.htpasswd
tests/spark-*-bin-hadoop*
tests/test-spark-*-bin-hadoop*.parquet
parquet-tools-*
parquet-tools-*-bin.zip
tests/docker/registry.crt
tests/docker/registry.csr
tests/docker/registry.key
