[submodule "pylib"]
	path = pylib
	url = https://github.com/harisekhon/pylib
	branch = master
[submodule "bash-tools"]
	path = bash-tools
	url = https://github.com/harisekhon/bash-tools
	branch = master
