# This doesn't actually work on already committed files,  git update-index --assume-unchanged is set in Makefile instead
scrub_custom.conf
solr-env.sh
*.pyc
*.jyc
*.avro
*.parquet
*.log
*.swp
.idea
.DS_Store
tests/spark-*-bin-hadoop*
tests/test-spark-*-bin-hadoop*.parquet
parquet-tools-*
parquet-tools-*-bin.zip
