avro>=1.8.1
bitarray>=0.8.1
#cassandra-driver>=3.6.0
dicttoxml>=1.7.4
#docker-py>=1.9.0
# Elasticsearch library must match major version :(
# for Elasticsearch 2.x
#elasticsearch>=2.0.0,<3.0.0
# for Elasticsearch 1.x
#elasticsearch>=1.0.0,<2.0.0
# fails on requiring newer version of setuptools
GitPython>=2.0.8
happybase>=1.0.0
humanize>=0.5.1
#impyla>=0.12.0
Jinja2>=2.8
#kazoo>=2.2.1
ldif3>=3.2.2
linecache2>=1.0.0
MarkupSafe>=0.23
#Markdown>=2.6.8
nose>=1.3.7
numpy>=1.8.0rc1
psutil>=4.3.0
py>=1.4.31
# parquet support in pyarrow is weaker, gone back to using parquet-tools
#pyarrow==0.6.0
#python-ldap>=2.4.41
# PyLint fails some checks in Travis that pass locally
#pylint==1.5.2
#pyhs2>=0.6.0
pytest>=3.0.0
#python-jenkins>=0.4.13
#python-krbV>=1.0.90
# needed by avro
python-snappy>=0.5
PyYAML>=3.11
requests>=2.11.1
sasl>=0.2.1
sh>=1.12.14
#six>=1.10.0
#snakebite[kerberos]>=2.11.0
thrift-sasl>=0.2.1
thrift>=0.9.3
traceback2>=1.4.0
unittest2>=1.1.0
wheel>=0.29.0
xmltodict>=0.10.2
