appnope==0.1.0
argparse==1.4.0
decorator==4.0.4
docopt==0.6.2
Flask==0.10.1
gnureadline==6.3.3
ipython==4.0.1
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
linecache2==1.0.0
MarkupSafe==0.23
mistune==0.7.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
PyYAML==3.11
pyzmq==15.1.0
rodeo==0.4.4
simplegeneric==0.8.1
six==1.10.0
spyder==2.3.8
traceback2==1.4.0
traitlets==4.0.0
unittest2==1.1.0
virtualenv==13.1.2
Werkzeug==0.11.2
